.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e7d32;

  padding: 15px 40px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.nav-links li:hover {
  text-decoration: underline;
}
.nav-links a {
  color: white;
  text-decoration: none;
}
